/* Global Styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #6f8ba4;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  border-bottom: 4px solid white;
  transition: 4s;
}

button {
  padding: 2rem 4rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

button:hover {
  background: #27384d;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 2rem;
}

/* NAV Section with HERO */

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}
#logo {
  flex: 2 1 40rem;
  font-weight: 400;
  font-family: "Gruppo", cursive, sans-serif;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 1.2), transparent),
    url(./img/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* About Section  */

.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
  background-image: linear-gradient(
    rgba(252, 83, 86, 0.6),
    rgba(252, 83, 86, 0.6)
  );
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}

/* GALLERY SECTION  */

.photo-gallery {
  color: #fff;
  background-color: #131c27;
}

.photo-gallery p {
  color: #fff;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
  text-align: center;
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

/* SPONSORS SECTION  */

.sponsors {
  min-height: 100vh;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.sponsors h2 {
  padding-top: 4rem;
}
.sponsors img {
  width: 400px;
  height: auto;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 28rem;
  min-height: 40vh;
  margin: 1rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 80%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 2rem;
}

.card a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.card a:hover {
  border-bottom: none;
}

.card-icon {
  background: white;
}

/* FOOTER SECTION  */
footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer h5 {
  flex: 1 1 40rem;
}

footer ul {
  display: flex;
  list-style-type: none;
  flex: 1 1 40rem;
  justify-content: space-around;
  margin-right: 10px;
  align-items: center;
}

@media screen and (max-width: 842px) {
  html {
    font-size: 45%;
  }

  .hero {
    width: 100%;
  }

  /* BURGER MENU  */
  .burger {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: white;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: 2.4rem;
    text-decoration: underline;
  }
  .nav-links {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translate(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }

  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  #logo {
    font-size: 3.2rem;
  }
  /* HERO SECTION 

  .hero h2 {
    font-size: 4rem;
  }

  .hero h3 {
    font-size: 3rem;
  } */

  /* ABOUT SECTION */
  .about-text div {
    padding: 3rem 3rem;
    font-size: 2.4rem;
  }

  /* GALLERY */
  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .gallery table {
    font-size: 1.4rem;
  }

  /* SPONSORS SECTION  */

  .sponsors h2 {
    font-size: 24px;
    margin-bottom: 6rem;
  }

  /* CONTACT SECTION */
  .contact img {
    display: none;
  }

  .cards {
    margin-bottom: 8rem;
  }

  /* FOOTER SECTION */

  footer ul {
    order: 1;
  }
  footer h5 {
    margin-bottom: 3rem;
    text-align: center;
    padding: 1rem;
    font-size: 140%;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
  }
}
